mat-icon.menu-item, span.menu-item {
  display: block;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  background-color: #9fa8da;
  font-weight: 500;
  cursor: pointer;
  margin: 5px;
}
