.header{
  display: flex;
  justify-content: center;
  align-items: center;
}

circular-menu .menu-item:hover {
  background-color: #8693de;
}

.menu-item.remove{
  background-color: red;
}

.empty-cart-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  flex-direction: column;
}

app-list-container{
  display: block;
  height: calc(100vh - 112px);
  overflow: auto;
  width: 100%;
}
